# Auto detect text files and perform LF normalization
* text=auto

# Linux Setup
# git config --global filter.tabspace.smudge 'unexpand --tabs=4 --first-only'
# git config --global filter.tabspace.clean 'expand --tabs=4 --initial'

# MacOS Setup
# git config --global filter.tabspace.smudge 'gunexpand --tabs=4 --first-only'
# git config --global filter.tabspace.clean 'gexpand --tabs=4 --initial'
*.mcmeta  filter=tabspace
*.json  filter=tabspace
